@charset "utf-8";

body {
    font:14px 맑은 고딕;
}
.container {
    position: absolute;
    width: 960px;
    margin:0 auto;
    background:#fff;
    border: 1px solid #e7e7e7;
}
header {
    position: relative;
    height: 280px;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: left top;
}
header h1 {
    position: absolute;
    right: 20px;
    bottom: 70px;
    font-size: 3em;
    color: #ffc;
    text-shadow: 2px 2px 2px #000;
}
header h2 {
    position: absolute;
    right: 20px;
    bottom: 30px;
    font-size: 2em;
    color:rgb(252, 252, 101);
    text-shadow:0px 1px 1px #000;
}
.navi {
    position: relative;
    background:rgb(74, 110, 161);
    margin-top: -15px; /*중요*/
    width: 960px;
    height: 60px;
    
}
.navi ul {
    list-style: none;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.navi ul li {
    display: inline;
    float: left;
    font-size: 15px;    
}
.navi a, .navi a:visited {
    width: 150px;
    color: #fff;
    text-decoration: none;
    padding: 10px 5px 5px 35px;
    display: block;
    
}
.navi a:hover, .navi a:active, .navi a:focus {
    text-shadow: 0px 2px 2px #000;
    color: #fc0;
}
article {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #333;
    padding: 5px;
}
article section {
    width: 30%;
    height: 650px;
    margin: 5px;
    float: left;
    padding: 5px;
    border: 1px dotted #333;
}
section h3 {

    padding-left: 30px;
    
}
aside {
    float: right;
    width: 200px;
    height: 550px;
    background: #DFD;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
